@import "./../Scss/FeedMixins.scss";

.whatsNew {
  @include central;
  grid-area: c1;
  grid-template-columns: 30px 150px;
  margin-top: 20px;

  height: auto;
  overflow: hidden;
}

.icon {
  color: #a3b5c5;
  background-color: #e1e7ed;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  padding: 3px 3px 3px 3px;
}

.input {
  border: none;
  width: 450px;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  width: 500px;
}

.button {
  margin-top: 15px;
  background-color: rgb(81, 129, 184);
  width: 70px;
  height: 35px;
  color: whitesmoke;
  border-radius: 5px;
  border-inline-color: lightblue;

}